* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7E4D4;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  color: #467745;
  margin: 25vh auto 20px auto;
}

input {
  font-size: 16px;
  font-weight: 500;
  width: 480px;
  height: 64px;
  color: #467745;
  outline: none;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
}

input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

textarea {
  font-size: 16px;
  font-weight: 500;
  width: 480px;
  height: 120px;
  color: #467745;
  outline: none;
  border: none;
  padding: 20px 0 0 20px;
}

textarea::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

.checkbox {
  width: 20px;
  height: 20px;
  align-self: start;
  outline: none;
  border: none;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: #467745;
}

span {
  text-decoration: underline;
  color: #467745;
}

button {
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  width: 280px;
  height: 80px;
  background-color: #467745;
  color: #F7E4D4;
  border-radius: 40px;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: .0.2em;
  margin-top: 40px;
}

@media screen (max-width: 520px){
  h1 {
    font-size: 36px;
    text-align: left;
  }

  input {
    width: 100% - 40px;
    margin-left: 20px;
  }

  textarea {
    width: 100% - 40px;
    margin-left: 20px;
  }

  .checkbox {
    margin-left: 20px;
  }
}